body
{
   position: relative;  
   overflow: hidden;
}

header
{
   background: #00BCD4;
   padding: 2em 0;
}


.arrow:hover
{
   color: black;

}

.borde
{
   
}

.categories
{
}

.content
{
   position: relative;
   
}

.default-margin
{
   margin-bottom: 2em;
}
.el-bell
{
   font-size: 2em;
   color:white;
}
.el-facebook
{
   color: #314A7E;
   background: white;  
}
.el-twitter
{
   color: #339DC3;
}
.el-asterisk
{
   color: red;
   position: absolute;
   top: -9px;
   right: 62px;
}
.el-caret-down
{
   font-size: 10px;
}

.content
{
   padding-top: 5em;
}
.description
{
   font-size: 1.5em;
}

.first-row
{
   margin-bottom: 3em;
}

.header
{
   border-bottom: 2px solid white;
   color: white;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}
.jumbotron
{
	overflow: hidden;
}

.logout
{
   background: #EFFB41;
   font-size: 1em;
   padding: 0.5em 1em;
   width: 100%;
}

.photo
{
   display: inline-block;
   position: relative;
   
}


.round
{
   border-radius: 50%;
}
.social-login
{
   background: rgba(0,0,0,.3);
   padding: 5em;
   position: absolute;
   top: 30%;
   left: 35%;
   width: 30%;
}
.social-login a
{
   
   color: white;
   margin: 0 auto;
   
}

.social-login div
{
   margin: 1em auto;
   position: relative;
   top: 50%;
   left: 20%;

}

.username
{
   color:white;
}

.carousel 
{

  /*max-width:1200px; THIS IS OPTIONAL (ANY SIZE YOU LIKE)*/
  margin:0 auto 60px;
}

.carousel .item 
{
    width:100%;
    height:auto;
}
.carousel-inner > .item > img 
{ 

  min-width:100%;
  height:auto;
}
@media screen and (max-width: 480px)
{

   .logout
   {
      font-size: 1em;
      padding:  .5em 1em;
   }
   .social-login
   {
      background: rgba(0,0,0,.7);
      padding: 1em;
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
   }
   .social-login div
   {
      margin: 0.5em auto;


   }
   .el-facebook, .el-twitter
   {
      font-size: 1em;
   }
   
   .xs-center
   {
      text-align: center;
   }

}

