.html,.body
{
   position: relative;  
   overflow: hidden;
   height:100%;
   margin:0;
}



header
{
   background: #00BCD4;
   padding: 2em 0;
   margin-bottom: 2em;
   overflow: hidden;
   position: relative;
}

.actual-photo
{
   margin-bottom: 2em;
  padding: 0;
  position: relative;;
}
.actual-photo .photo
{
  margin: 0;
  padding: 0;
}
.actual-photo .photo img
{
  height: 500px;
  width: 100%;
}
.actual-photo .photo:hover
{
  cursor: pointer;
}

.actual-photo a
{
  color: #B54051;
  position: absolute;
  top: 45%;
  left: 47%;  
}
.alert-content
{
   box-shadow: 0 2px 5px gray;
   position: relative;
   overflow: hidden;
   padding: 0;
}
.body-modal
{
  background: url(../images/hello.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.borde
{   
  border: 2px solid red;
}
.buttons-filter a
{
  color: white;
  margin: 1em 0;
  padding: .7em;
  text-align: center;
  text-decoration: none;

}
.buttons-filter a i
{
  transition: all 1s ease;
}
.buttons-filter a:hover > i
{
  transform: rotate(360deg);
}
.buttons-filter .btn-delete
{
  background: #EF3F47;
  border-bottom: 4px solid #CA3F47;
}
.buttons-filter .btn-refresh
{
    background: #00AA55;
  border-bottom: 4px solid #007755;
}
.camera-floating-container
{
  top: 0;
  right: 10px;
  position: absolute;
  z-index: 5;
}
.camera-floating-container button
{
  color: #B54051;
  border: 0;
  background: black;
}
.camera-floating-container button:active
{
  background: white;
}
.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel {
margin-bottom: 60px;
}
.carousel-caption {
z-index: 10;
}
.carousel-indicators li
{
  background: pink;
}
.carousel .item {
background-color: #777;
}
.carousel .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.carousel .carousel-inner .bg1 {
background-image:url(../images/1.jpg);
background-position: center top;
}
.carousel .carousel-inner .bg2 {
background-image:url(../images/2.jpg);
background-position: center center;
}
.carousel .carousel-inner .bg3 {
background-image:url(../images/3.jpg);
background-position: center bottom;
}
.carousel .carousel-inner .bg4 {
background-image:url(../images/4.jpg);
background-position: center bottom;
}
.carousel-control .arrow
{
   background: black;   
   font-size: 1em;
   padding-top: 5px;
   border-radius: 50%;
   
}

/* --- Container configuration ---------------------------------------------------------- */
.category-icon 
{    
   float: left;
   height: 320px;
    overflow: hidden;
    position: relative;
    width: 520px;
}

.category-icon a img 
{    
    position: relative;   
    top: -130px;
    left: -30px;
    -webkit-transition: all .1s ease;
         -moz-transition: all .1s ease;
           -o-transition: all .1s ease;
          -ms-transition: all .1s ease;
              transition: all .1s ease;
    width: 105%;
}

.category-icon a img:hover
{
   transform: scale(.9);
}

.content
{
   position: relative;
   
}

.default-margin
{
   margin-bottom: 2em;
}
.description
{
  background: white;
   font-size: 1.2em;
   text-align: left;
   padding: .5em;
}
.el-bell
{
   font-size: 2em;
   color:white;
}
.el-facebook
{
   color: #314A7E;
   background: white;  
}
.el-twitter
{
   color: #339DC3;
}
.el-asterisk
{
   color: red;
   position: absolute;
   top: -9px;
   right: 62px;
}
.el-caret-down
{
   font-size: 10px;
}

.content
{
   padding-top: 5em;
}
.filters
{
  padding-top: 1em;
}
.filters label
{
  color: gray;
}

.first-row
{
   margin-bottom: 3em;
}
.floating-camera-button
{
  z-index: 100;
}
.header
{
   color: white;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}
.header-category
{
   background: #2c3350;
   color: white;
   font-size: 1.5em;
   padding: .5em;
   text-align: center;
   margin: 0;

}
.house-temperature
{
  position: relative;
  overflow: hidden;
}
.last-update h4
{
  color: #555;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
.panel .panel-title
{
  background: #351940;
}
.house-temperature .title, .activity .title, .humidity .title
{
   color: white;
   text-align: center;
   padding: 0;
   margin: 0;
}
.house-temperature .value, .activity .value, .humidity .value
{
   padding: 5em;
   position: relative;
   overflow: hidden;
   text-align: right;
}
.house-temperature .value h2, .activity .value h2, .humidity .value h2
{
  
  font-size: 3em;
}
.temperature-icon, .activity-icon, .humidity-icon
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.jumbotron
{
   overflow: hidden;
}

.logout
{
   background: #EFFB41;
   font-size: 1em;
   padding: 0.5em 1em;
   width: 100%;
}
.logo
{
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;

}

.logo img
{
   width: 80px;
}
.notification
{
   padding-top: .7em;
}

.photo
{
   display: inline-block;
   position: relative;
   
}
.profile, .notification
{
   display: table-cell;
   vertical-align: middle;
}
.record-list ul
{
  height: 700px;
  list-style: none;
  overflow-y: scroll;
}
.record-list ul li
{
  background: white;
  margin: 1em;

}
.record-list ul li span
{  
  color: #555;
  display: inline-block;
  width: 80%;
}
.record-list ul li i
{
  color: white;
  background: #EF3F47;
  padding: 1em;
}

.round
{   
  border-radius: 50%;
}
.social-login
{
   background: rgba(0,0,0,.7);
   padding: 5em;
   position: absolute;
   top: 30%;
   left: 30%;
   width: 40%;
}
.social-login a
{  
   color: white;
   margin: 0 auto;  
}

.social-login div
{
   margin: 1em auto;
   position: relative;
   top: 50%;
   left: 20%;
}
.state-row
{
  margin-bottom: 3em;
}

.take-picture 
{
  background: rgba(0,0,0,.7);
  display: none;  
  height: 500px;
  left: 0;
  position: absolute;
  transition: all 1s ease;
  top:0;
  width: 99.2%;
}
.take-picture:hover
{
  cursor: pointer;
}
.username
{
   color:white;
}
.welcome-modal
{
  background: rgba(0,0,0,.5) ;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.welcome-modal .modal-content
{
  border-radius: 0;
  border: 4px solid black;
  left: 30%;
  padding: 2em;
  position: absolute;
  top: 30%;
  width: 40%;
}


@media screen and (max-width: 1440px)
{
   .category-icon 
   {    
      float: none;
      margin: 0 auto;
   }
   .category-icon a img 
   {    
       position: relative;   
       top: -130px;
       left: -50px;
       width: 105%;
   }
   .description
   {
      width: 100%;
   }


}

@media screen and (max-width: 1280px)
{

   .carousel-inner > .item > img 
   { 

     min-width:100%;
     height:500px;
   }
   .category-icon a img 
   {    
       top: -110px;
       left: -90px;
       width: 95%;
   }
   .logo
   {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 30px;

   }

   .logo img
   {
      width: 80px;
   }
   .social-login
   {
      padding: 1em;
      top: 30%;
      left: 25%;
      width: 50%;
   }
}

@media screen and (max-width: 990px)
{
  .category-icon 
  {        
      width: 600px;
  }
  .category-icon a img 
  {    
      top: -120px;
      left: -25px;
      width: 85%;
  }  
  .record-list ul li i
  {
    color: white;
    background: #EF3F47;
    position: relative;
    padding: .5em;

  }

}

@media screen and (max-width: 768px)
{
  .buttons-filter a 
  {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .category-icon a img 
  {    
      top: -110px;
      left: -80px;
      width: 80%;
  }

  .logo
  {
     left: -10px;

  }

  .logo img
  {
     width: 90px;
  } 
  .record-list ul li
  {
    margin: 0em 1em .5em -2em;

  }
  .record-list ul li i
  {
    color: white;
    background: #EF3F47;
    position: relative;
    padding: .5em;

  }

 
   .social-login
   {
      left: 15%;
      width: 70%;
   }
   .carousel-control .arrow
   {
      padding: .3em;   
   }
   

}

@media screen and (max-width: 600px)
{
   .categories
   {
      margin-left: 5%;
      width: 90%;
   }
   .category-icon a img 
   {    
       top: -130px;
       left: -28px;
       width: 95%;
   }
   .record-list ul li
   {
     margin: 0em 1em .5em -2em;

   }
   .record-list ul li i
   {
     color: white;
     background: #EF3F47;
     position: relative;
     padding: .2em;
     top: -.3em;
   }



}


@media screen and (max-width: 480px)
{

    .buttons-filter a
    {
      top: -3em;
      position: relative;
      margin: 1em;
    }
   .carousel-inner > .item > img 
   { 
     min-width:100%;
     height:300px;
   }
   .carousel-control .arrow
   {
      font-size: .7em;
      padding: .5em;   
      margin-top: 10em;
   }
   .category-icon a img 
   {    
       position: relative;   
       top: -120px;
       left: -80px;
       width: 90%;
   }
   .categories
   {
      margin-left: 5%;
      width: 90%;
   }
   .logo
   {
      left: 10px;
   }
   .logo img
   {
      width: 80px;
   }
   .logout
   {
      font-size: 1em;
      padding:  .5em 1em;
   }
   .profile
   {
      float: none;
      
   }
   .profile .photo
   {
      
      margin-right: 3em;
   }
    .record-list
    {
      position: relative;
      top: -2em;
    }
    .record-list ul li
    {
      margin: 0em 1em .5em -2em;

    }
    .record-list ul li i
    {
      color: white;
      background: #EF3F47;
      position: relative;
      padding: .2em;
      top: -.3em;
    }


   .social-login
   {
      font-size: 1.3em;
      left: 0%;
      width: 100%;
   }
   .social-login div
   {
      margin: 0.5em auto;


   }
   .el-facebook, .el-twitter
   {
      font-size: 1em;
   }
   
   .xs-center
   {
      text-align: center;
   }

}

