{% extends "layout.html" %}

{% block title %}
	Estado actual
{% endblock title %}

{% block body %}
	<div class="state-container">
		
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 actual-photo">
				<div class="visible-xs visible-sm visible-md camera-floating-container">
					<button href="/take-picture"><i class="el el-camera el-5x"></i></button>					
				</div>
				<figure class="photo" >
					<img src="images/house.jpg" alt="estado actual" >	
				</figure>
				
				<figure class="take-picture visible-lg">

					<a href="/take-picture">
						<i class="el el-camera el-5x"></i>
					</a>
				</figure>
			</div>
		</div>
		<div class="row last-update">
			<div class="col-xs-12">
				<h4>Ultima actualizacion: 17-12-2038 23:61pm</h4>
			</div>	
		</div>
		<div class="row state-row">
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-1 col-md-6">
				<section class="house-temperature panel">
					<div class="panel-heading panel-title">
						<h2 class="title">Temperatura de la casa</h2>
					</div>
					<div class="value panel-body">
						<h2>27°C</h2>
						<img class="temperature-icon" src="images/temperature-icon.png" alt="">
					</div>

				</section>
			</div>

			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
				<section class="house-temperature panel">
					<div class="panel-heading panel-title">
						<h2 class="title">Temperatura de internet</h2>
					</div>
					<div class="value panel-body">
						<h2>25°C</h2>
						<img class="temperature-icon" src="images/temperature-icon.png" alt="">
					</div>
				</section>
			</div>
		</div>
		<div class="row state-row">
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-1">
				<section class="humidity panel">
					<div class="panel-heading panel-title">
						<h2 class="title">Humedad de la casa</h2>
					</div>
					<div class="value panel-body">
						<h2>50%</h2>
						<img class="humidity-icon" src="images/humidity-icon.png" alt="">
					</div>
				</section>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
				<section class="activity panel">
					<div class="panel-heading panel-title">
						<h2 class="title">Actividad de casa</h2>
					</div>
					<div class="value panel-body">
						<h2>25%</h2>
						<img src="images/activity.png" class="activity-icon" alt="">
					</div>
				</section>
			</div>
		</div>
	</div>

{% endblock body %}

