{% extends "layout.html" %}

{% block title %}
	Estado actual
{% endblock title %}

{% block body %}
	<div class="state-container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 actual-photo">
				<figure class="photo" >
					<img src="images/house.jpg" alt="estado actual" >	
				</figure>
				
				<figure class="take-picture">

					<a href="/take-picture">
						<i class="el el-camera el-5x"></i>
					</a>
				</figure>
			</div>
		</div>
		<div class="row state-row">
			<div class="col-lg-5 col-lg-offset-1">
				<section class="house-temperature">
					<h2 class="title">Temperatura de la casa</h2>
					<div class="value">
						<h2>27°C</h2>
						<img class="temperature-icon" src="images/temperature-icon.png" alt="">
					</div>

				</section>
			</div>

			<div class="col-lg-5">
				<section class="house-temperature">
					<h2 class="title">Temperatura de internet</h2>
					<div class="value">
						<h2>25°C</h2>
						<img class="temperature-icon" src="images/temperature-icon.png" alt="">
					</div>
				</section>
			</div>
		</div>
		<div class="row state-row">
			<div class="col-lg-5 col-lg-offset-1">
				<section class="humidity">
					<h2 class="title">Humedad de la casa</h2>
					<div class="value">
						<h2>50%</h2>
						<img class="humidity-icon" src="images/humidity-icon.png" alt="">
					</div>
				</section>
			</div>
			<div class="col-lg-5">
				<section class="activity">
					<h2 class="title">Actividad de casa</h2>
					<div class="value">
						<h2>25%</h2>
						<img src="images/activity.png" class="activity-icon" alt="">
					</div>
				</section>
			</div>
		</div>
	</div>

{% endblock body %}

