{% extends "layout.html" %}

{% block title %}
	Configuracion
{% endblock title %}
{% block css %}
	{% parent %}
	
{% endblock css %}
{% block body %}

<link href="css/bootstrap-toggle.min.css" rel="stylesheet">

<script src="js/jquery.min.js"></script>

<script src="js/bootstrap-toggle.min.js"></script>

<script src="js/toggle.js"></script>

<div class="configuration-container">
	<h2>Configuracion</h2> <br>
	<div class="panel panel-primary">
 	<div class="panel-heading">
 		Todas
 	</div>
 	  <div class="panel-body">
 	   Todas las configuraciones                                    .
		<input id="todas" type="checkbox" checked="false" data-toggle="toggle" data-onstyle="primary">
					
	  </div>
	</div>

	<div class="panel panel-success">
 	<div class="panel-heading">
 		Movimiento
 	</div>
 	  <div class="panel-body">
 	   Activar o desactivar la funcion de detección de movimiento   .  
 	   <input id="movimiento" type="checkbox" checked data-toggle="toggle" data-onstyle="success">
 	  </div>
	</div>

	<div class="panel panel-info">
 	<div class="panel-heading">
 		Ruido
 	</div>
 	  <div class="panel-body">
 	   Activar o desactivar la funcion de escuchar ruido            .     
 	   <input id="ruido" type="checkbox" checked data-toggle="toggle" data-onstyle="info">
 	  </div>
	</div>

	<div class="panel panel-primary">
 		<div class="panel-heading">
 		Temperatura   
 		</div>
 	 	 <div class="panel-body">
 	  	 Activar o desactivar la funcion de medición de temperatura .
 			<input id="temperatura" type="checkbox" checked data-toggle="toggle" data-onstyle="primary">
	  	 </div>
	</div>
	
	<div class="panel panel-success">
 	<div class="panel-heading">
 		Luces
 	</div>
 	  <div class="panel-body">
 	   Activar o desactivar la percepción de la cantidad de luz     .  
 	   <input id="luces" type="checkbox" checked data-toggle="toggle" data-onstyle="success">
 	  </div>
	</div>

	<div class="panel panel-info">
 	<div class="panel-heading">
 		Humedad
 	</div>
 	  <div class="panel-body">
 	   Activar o desactivar el control de humedad                   . 
 	   <input id="humedad" type="checkbox" checked data-toggle="toggle" data-onstyle="info">
 	  </div>
	</div>
	
</div>
{% endblock body%}