<header class="row">
	<figure class="logo" >
		<a href="/home"><img class="" src="images/logo.png" alt="logo"></a>
	</figure>
	<div class="col-lg-1 col-xs-2 col-sm-1 col-md-1 pull-right notification">
		<i class="el el-bell el-2x "></i>
		{% if notificacion %}
			<i class="el el-asterisk"></i>	
		{% endif %}
		
	</div>
	<div class="profile col-lg-2 col-xs-7 col-sm-8 col-md-10 pull-right">
		<div class="photo pull-right">
			<img src="{{user.photo}}" class="round" alt="avatar">
			<label class="username">{{user.name}}</label>
		</div>
		
	</div>
</header>