<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SIMH</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/elusive-icons.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	{% include "header.html" %}

	<section class="row content">
		
			<section class="categories default-margin alerts col-lg-4 col-xs-12 col-sm-6 col-md-6">
				
					<h2 class="xs-center">Alertas</h2>
					<div class="alert-content col-xs-12">
						<img src="images/climate.jpg" alt="imagen alerta" class="col-xs-12 col-lg-6">
						<span class="description col-xs-12 col-lg-6 ">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
					</div>
				
			</section>
			<section class="categories default-margin controls col-lg-4 col-xs-12 col-sm-6 col-md-6">
				<h2 class="xs-center">Controles</h2>
				<div class="alert-content col-xs-12">
					<img src="images/ambient.jpg" alt="imagen control" class="col-xs-12 col-lg-6">
					<span class="description col-xs-12 col-lg-6">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
			<section class="categories default-margin configuration col-lg-4 col-xs-12 col-sm-6 col-md-6">
				<h2 class="xs-center">Configuracion</h2>
				<div class="alert-content col-xs-12">
					<img src="images/accelerometer.jpg" alt="imagen configuracion" class="col-xs-12 col-lg-6">
					<span class="description col-xs-12 col-lg-6">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
		
		
			<section class="categories default-margin state col-lg-4 col-xs-12 col-sm-6 col-md-6">
				<h2 class="xs-center">Estado actual</h2>
				<div class="alert-content col-xs-12">
					<a href="/status"><img src="images/camera.jpg" alt="imagen estado" class="col-xs-12 col-lg-6"></a>
					<span class="description col-xs-12 col-lg-6">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
			<section class="categories default-margin history col-lg-4 col-xs-12 col-sm-6 col-md-6">
				<h2 class="xs-center">Historial</h2>
				<div class="alert-content col-xs-12">
					<img src="images/servo.jpg" alt="imagen historial" class="col-xs-12 col-lg-6">
					<span class="description col-xs-12 col-lg-6">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
		
		
	</section>
</body>
</html>