{% extends "./layout.html" %}

{% block title %}
	Sistema inteligente de monitorero de hogar
{% endblock title %}
{% block css %}
	{% parent %}
	<link rel="stylesheet" href="css/material.min.css">
	<script type="text/javascript" src="js/material.min.js"></script>

{% endblock css %}

{% block body %}
	<section class="row content">
			
			<section class="categories default-margin alerts col-lg-4 col-xs-6 col-sm-6  col-md-4">
				
					<h2 class="xs-center header-category">Alertas</h2>
					<div class="alert-content col-xs-12">
						<div class="category-icon">
							<a href="/alertas"><img  src="images/alerta.png" alt="imagen alerta"></a>
						</div>
						<span class="description col-xs-12 col-lg-12 ">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>							
					</div>
				
			</section>
			<section class="categories default-margin controls col-lg-4 col-xs-6 col-sm-6  col-md-4">
				<h2 class="xs-center header-category">Controles</h2>
				<div class="alert-content col-xs-12">
					<div class="category-icon">
						<a href="/controles"><img src="images/controles.png" alt="imagen control" ></a>	
					</div>
					
					<span class="description col-xs-12 col-lg-12">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
			<section class="categories default-margin configuration col-lg-4 col-xs-6 col-sm-6  col-md-4">
				<h2 class="xs-center header-category">Configuracion</h2>
				<div class="alert-content col-xs-12">
					<div class="category-icon">
						<a href="/configuracion"><img src="images/configurar.png" alt="imagen configuracion" ></a>	
					</div>
					
					<span class="description col-xs-12 col-lg-12">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
		
		
			<section class="categories default-margin state col-lg-4 col-xs-6 col-sm-6  col-md-4">
				<h2 class="xs-center header-category">Estado actual</h2>
				<div class="alert-content col-xs-12">
					<div class="category-icon">
						<a href="/estado-actual" class="btn-actual"><img src="images/estado actual.png" alt="imagen estado" ></a>	
					</div>
					
					<span class="description col-xs-12 col-lg-12">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>
			<section class="categories default-margin history col-lg-4 col-xs-6 col-sm-6  col-md-4">
				<h2 class="xs-center header-category">Historial</h2>
				<div class="alert-content col-xs-12">
					<div class="category-icon">
						<a href="/historial"><img src="images/historial.png" alt="imagen historial" ></a>	
					</div>
					
					<span class="description col-xs-12 col-lg-12">todas las caracteristicas con las que podras estar seguro acerca del estado de tu casa en un momento determinado</span>
				</div>
			</section>

		
		
	</section>
{% endblock body %}

{% block js %}
	{% parent %}
	<script src="js/bootstrap.min.js"></script>
{% endblock js %}