
<!DOCTYPE html>
<html lang="es" class="html">
<head>
	<title>SIMH</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/elusive-icons.min.css">
	<link rel="stylesheet" href="css/style.css">
	
</head>
<body class="body">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item bg bg1 active">
			</div>
			<div class="item bg bg2">
			</div>
			<div class="item bg bg3">
			</div>
			<div class="item bg bg4">
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class=" arrow glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class=" arrow glyphicon glyphicon-chevron-right"></span></a>
	</div>


	<div class="social-login">
		<div class="" >
			<a href="/facebook" class=""><i class="el el-facebook el-3x"></i> Login con facebook</a>	
		</div>
		<div class="" >
			<a href="/twitter" class=""><i class="el el-twitter el-3x"></i> Login con twitter</a>	
		</div>
		
	</div>	

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	


</body>
</html>

	
	
		