<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sistema inteligente de monitoreo de hogar</title>
	<link rel="stylesheet" href="css/elusive-webfont.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="row full-center" >

		<div class="jumbotron">
			<div class="col-xs-6 col-xs-offset-3" id="facebook">
				<a href="/facebook" class="btn btn-primary center-block"><i class="el-icon-facebook"></i> Login con facebook</a>	
			</div>
			<div class="col-xs-6 col-xs-offset-3" id="twitter">
				<a href="/twitter" class="btn btn-primary center-block"><i class="el-icon-twitter"></i> Login con twitter</a>	
			</div>
			
		</div>	
	</div>
	

</body>
</html>