{% extends "layout.html" %}

{% block title %}
	Historial
{% endblock title %}

{% block body %}
	<div class="row record-container">
		<div class="col-lg-2 col-lg-offset-1 filters">
			<label for="">filtros:</label><input type="date" class="form-control">
		</div>
		<div class="col-lg-8 record-list">
			<ul>
				<li>
				<i class="el el-camera el-3x"></i>
				<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
				
 </li>
				<li>
				<i class="el el-warning-sign el-3x"></i>
				<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
				
 </li>
				<li>
				<i class="el el-eye-open el-3x"></i>
				<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
				
 </li>
				<li>
				<i class="el el-exclamation-sign el-3x"></i>
				<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
				
 </li>
				<li>
								<i class="el el-camera el-3x"></i>
								<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
								
				 </li>
								<li>
								<i class="el el-warning-sign el-3x"></i>
								<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
								
				 </li>
								<li>
								<i class="el el-eye-open el-3x"></i>
								<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
								
				 </li>
								<li>
								<i class="el el-exclamation-sign el-3x"></i>
								<span>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child</span>
								
				 </li>
			</ul>
		</div>
	</div>
{% endblock body %}